#databreach-calculator button,
#databreach-calculator select {
	width: 200px;
	padding: 0;
	margin: 0;
}

#databreach-calculator {
	width: 650px;
	height: 135px;
	margin: auto;
	position: relative;
	font-family: "Arial";
	font-size: 1em;
}

#databreach-calculator #leftHalf {
	width: 450px;
	margin-top: 5px;
}

#databreach-calculator .left {
	float: left;
	clear: both;
}

#databreach-calculator .right {
	float: right;
}

#databreach-calculator .right,
#databreach-calculator .left {
	margin: 4px;
}

#databreach-calculator .textField {
	width: 200px;
}

/*------------------------------------------------------------------------------------*/

#databreach-calculator .sigFactorsCheck {
	display: none;
}

#databreach-calculator .sigFactorsCheck+label {
	font-size: .85em;
	margin: .25em;
}

#databreach-calculator .sigFactorsCheck:checked+label {
	color: green;
}

#databreach-calculator .multiselect {
	width: 200px;
	float: left;
	position: absolute;
	right: 200px;
	background-color: white;

}

#databreach-calculator .selectBox {
	position: relative;

}

#databreach-calculator .overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#databreach-calculator #checkboxes {
	display: none;
	border: 1px #dadada solid;
	-webkit-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.51);
	box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.51);
}

#databreach-calculator #checkboxes label {
	display: block;
}

#databreach-calculator #checkboxes label:hover {
	background-color: #1e90ff;
}

#databreach-calculator .check-with-label:checked+.label-for-check {
	font-weight: bold;
}

#databreach-calculator .gauge {
	display: inline-block;
	position: relative;
	width: 10rem;
	height: 5rem;
	overflow: hidden;
}

#databreach-calculator #percent {
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

#databreach-calculator .gauge:before,
#databreach-calculator .gauge:after,
#databreach-calculator .meter {
	position: absolute;
	display: block;
	content: "";
}

#databreach-calculator .gauge:before,
#databreach-calculator .meter {
	width: 10rem;
	height: 5rem;
}

#databreach-calculator .gauge:before {
	border-radius: 5rem 5rem 0 0;
	background: #B7B7B9;
}

#databreach-calculator .gauge:after {
	position: absolute;
	bottom: 0;
	left: 2.5rem;
	width: 5rem;
	height: 2.5rem;
	background: white;
	border-radius: 2.5rem 2.5rem 0 0;
}

#databreach-calculator .meter {
	top: 100%;
	transition: 1.5s;
	transform-origin: center top;
	border-radius: 0 0 6rem 6rem;
	background: #00558C;
}